@import "../styles/utils/colors.scss";
@import "../styles/utils/mixins.scss";

.wrapper.error {
    padding-top: pxToEm(40);
    padding-left: pxToEm(20);
    padding-right: pxToEm(20);
    text-align: center;

    @include tablet {
        padding-top: pxToEm(80);
    }
}