@import "../styles/utils/colors.scss";
@import "../styles/utils/mixins.scss";

.homepage__section {
    padding: pxToEm(40) pxToEm(20) pxToEm(20) pxToEm(20);

    @include tablet {
        padding: pxToEm(80) pxToEm(20) pxToEm(40) pxToEm(20);
    }

    .about-me {
        font-weight: 700;
        font-size: pxToEm(25);
    }
}

.portfolio__section {
    padding: pxToEm(20);

    @include tablet {
        padding: 0 pxToEm(20);
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .row-card {
            margin: 0 auto;
            display: flex;
            width: 100%;
            flex-direction: column;
        
            @include tablet {
                flex-wrap: wrap;
                flex-direction: row;
        
                &:not(:first-of-type) {
                    padding: pxToEm(30) pxToEm(20);
                }
            }
        
            .col {
                display: flex;
                flex-wrap: wrap;
                flex: 0 100%;
                box-sizing: border-box;
                flex-direction: column;
        
                @include desktop {
                    flex: 0 50%;
                }
            }
        
            .row-image {
                position: relative;
                display: block;
                padding-top: pxToEm(30);

                @include tablet {
                    padding-top: 0;
                }
                
                img {
                    width: 100%;
                    height: auto;
                   
                }
            } 
        
            .row-copy {
                background-color: transparent;
                padding-top: pxToEm(20);
        
                @include tablet {
                    padding-top: 0;
                    color: $white;
                }
        
                .content {
                    color: $black2;
                    z-index: 1;
                    padding: 0;
        
                    @include tablet {
                        padding: pxToEm(30) pxToEm(30) 0 pxToEm(30);
                    }
                }
        
                p {
                    line-height: pxToEm(30);
                    font-size: pxToEm(14);
                }
        
                .copy {
                    padding-top: pxToEm(15);
                }

                .status {
                    border-left: 3px solid $blue;
                    font-family: 'Jost', sans-serif;
                    padding: pxToEm(3) 0 pxToEm(3) pxToEm(5);
                    margin-top: pxToEm(10);
                }
            }

            &:not(:last-child) {
                padding-bottom: pxToEm(20);
                border-bottom: 2px solid $black2;
            }
        }
    }
}

.contact__section {
    text-align: center;
    padding: pxToEm(40) pxToEm(20) pxToEm(40) pxToEm(20);

    @include tablet {
        padding: pxToEm(40) pxToEm(20) pxToEm(80) pxToEm(20);
    }
    border-top: 4px solid $black2;

    .wrapper {
        .social-icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: pxToEm(20);

            .social-icons__download,
            .social-icons__email,
            .social-icons__linkedin {
                margin-right: pxToEm(20);

                a {
                    transition: 0.4s ease-in-out;
                    color: $black2;

                    &:hover,
                    &:focus {
                        color: $blue;
                    }
                }

                span {
                    display: flex;
                    font-weight: bold;
                    font-size: pxToEm(11);
                    justify-content: center;
                }
                svg {
                    font-size: pxToEm(50);
                }
            }
        }  
    }
}
